html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0 auto;
}

// a:hover {
//     cursor: pointer;
// }

ul, ol {
    list-style-type: none;
}