article {
    h2 {
        text-align: center;
        padding: 8%;
        letter-spacing: .1em;
        
    }
}
ul.flex__row {
    li.flex__item {
        width: 250px;
        height: 250px;
        margin: 21px;
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        transition: all 250ms;
        @include box_shadow(1);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        padding: 55px; 
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;

        a {
            font-size: 3.4em; 
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            top: -53px;
            left: -38px;
            width: inherit;
            height: inherit;
            text-indent: -9999px; 
            
        }
        &:hover {
            @include box_shadow(3);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            transform: translateY(-5px);
            cursor: pointer;
        }
        &.html5 {
            background-color: #E44D26;
            background-image: url(../../media/images/html.svg);    
        }
        &.css3 {
            background-image: url(../../media/images/css.svg);
            background-color: #264de4;
            
        }
        &.js {
            background-image: url(../../media/images/js.svg);
            background-color: #F4DC42;
            
        }
        &.ts {
            background-image: url(../../media/images/ts.svg);
            background-color: #007acc;
        }
        &.jquery {
            background-color: #0769ad;
            
            background-image: url(../../media/images/jquery.svg);
        }
        &.php {
            background-color: #474A8A;
            
            background-image: url(../../media/images/php.svg);
        }
        &.sass {
            background-image: url(../../media/images/sass.svg);
            background-color: #032453;   
        }
        &.wordpress {
            background-image: url(../../media/images/wordpress.svg);
            background-color: #00749c;      
        }
        &.drupal {
            background-image: url(../../media/images/drupal.svg);
            background-color: #53B0EB;      
        }
        &.react {
            background-image: url(../../media/images/react.svg);
            background-color: #fff;      
        }
        &.angular {
            background-image: url(../../media/images/angular.svg);
            background-color: #000;       
        }
        &.vue {
            background-image: url(../../media/images/vue.svg);
            background-color: #fff;       
        }
        &.node {
            background-image: url(../../media/images/node.svg);
            background-color: #fff;       
        }
        &.python {
            background-image: url(../../media/images/python.svg);
            background-color: #646464;       
        }
        &.csharp {
            background-image: url(../../media/images/csharp.svg);
            background-color: #11100F;       
        }
        &.cplus {
            background-image: url(../../media/images/cplus.svg);
            background-color: #D74654;     
        }
        &.java {
            background-image: url(../../media/images/java.svg);
            background-color: #000;     
        }
        &.apple {
            background-image: url(../../media/images/apple.svg);
            background-color: #555555;     
        }
        &.windows {
            background-image: url(../../media/images/windows.svg);
            background-color: #000;     
        }
        &.linux {
            background-image: url(../../media/images/linux.svg);
            background-color: #fff;     
        }
        &.vs {
            background-image: url(../../media/images/vs.svg);
            background-color: #000;     
        }
        &.sublime {
            background-image: url(../../media/images/sublime.svg);
            background-color: #4C4C4C;     
        }
        &.sql {
            background-image: url(../../media/images/sql.svg);
            background-color: #00758F;     
        }
        &.mysql {
            background-image: url(../../media/images/mysql.svg);
            background-color: #F29111;     
        }
        &.postsql {
            background-image: url(../../media/images/postsql.svg);
            background-color: #336791;     
        }
        &.mongo {
            background-image: url(../../media/images/mongo.svg);
            background-color: #E8E7D5;     
        }
        &.graphql {
            background-image: url(../../media/images/graphql.svg);
            background-color: #161e26;     
        }
        &.gatsby {
            background-image: url(../../media/images/gatsby.svg);
            background-color: #fff;     
        }
        &.next {
            background-image: url(../../media/images/next.svg);
            background-color: #fff;     
        }
        &.svg {
            background-image: url(../../media/images/svg.svg);
            background-color: #303030;     
        }
        &.chrome {
            background-image: url(../../media/images/chrome.svg);
            background-color: #4285F4;     
        }
        &.safari {
            background-image: url(../../media/images/safari.svg);
            background-color: #CC1111;     
        }
        &.firefox {
            background-image: url(../../media/images/firefox.svg);
            background-color: #203FB6;     
        }
        &.nightly {
            background-image: url(../../media/images/nightly.svg);
            background-color: #F62336;     
        }
        &.edge {
            background-image: url(../../media/images/edge.svg);
            background-color: #000;     
        }
        &.adobe {
            background-image: url(../../media/images/adobe.svg);
            background-color: #fff;     
        }
        &.xd {
            background-image: url(../../media/images/xd.svg);
            background-color: #fff;     
        }
        &.ps {
            background-image: url(../../media/images/ps.svg);
            background-color: #fff;     
        }
        &.ai {
            background-image: url(../../media/images/ai.svg);
            background-color: #fff;     
        }
        &.cc {
            background-image: url(../../media/images/cc.svg);
            background-color: #fff;     
        }
        &.git {
            background-image: url(../../media/images/git.svg);
            background-color: #fff;     
        }
        &.firebase {
            background-image: url(../../media/images/firebase.svg);
            background-color: #fff;     
        }
        &.ruby {
            background-image: url(../../media/images/ruby.svg);
            background-color: #fff;     
        }
        &.rails {
            background-image: url(../../media/images/rails.svg);
            background-color: #fff;     
        }
        &.cpanel {
            background-image: url(../../media/images/cpanel.svg);
            background-color: #fff;     
        }
        &.fz {
            background-image: url(../../media/images/fz.svg);
            background-color: #fff;     
        }
        &.netlify {
            background-image: url(../../media/images/netlify.svg);
            background-color: #fff;     
        }
        &.bootstrap {
            background-image: url(../../media/images/bootstrap.svg);
            background-color: #fff;     
        }
        &.material {
            background-image: url(../../media/images/material.svg);
            background-color: #fff;     
        }
        &.azure {
            background-image: url(../../media/images/azure.svg);
            background-color: #fff;     
        }
        &.yii {
            background-image: url(../../media/images/yii.svg);
            background-color: #fff;     
        }
        &.meteor {
            background-image: url(../../media/images/meteor.svg);
            background-color: #fff;     
        }
        &.express {
            background-image: url(../../media/images/express.svg);
            background-color: #fff;     
        }
        &.django {
            background-image: url(../../media/images/django.svg);
            background-color: #fff;     
        }
        &.laravel {
            background-image: url(../../media/images/laravel.svg);
            background-color: #fff;     
        }
        &.coffee {
            background-image: url(../../media/images/coffee.svg);
            background-color: #fff;     
        }
        &.go {
            background-image: url(../../media/images/go.svg);
            background-color: #fff;     
        }
        &.elixir {
            background-image: url(../../media/images/elixir.svg);
            background-color: #fff;     
        }
        &.scala {
            background-image: url(../../media/images/scala.svg);
            background-color: #fff;     
        }
        &.bulma {
            background-image: url(../../media/images/bulma.svg);
            background-color: #fff;     
        }
        &.d3 {
            background-image: url(../../media/images/d3.svg);
            background-color: #fff;     
        }
        &.w3c {
            background-image: url(../../media/images/w3c.svg);
            background-color: #fff;     
        }
        &.json {
            background-image: url(../../media/images/json.svg);
            background-color: #fff;     
        }
        &.objc {
            background-image: url(../../media/images/objc.svg);
            background-color: #fff;     
        }
        &.swift {
            background-image: url(../../media/images/swift.svg);
            background-color: #fff;     
        }
        &.ionic {
            background-image: url(../../media/images/ionic.svg);
            background-color: #fff;     
        }
        &.zurb {
            background-image: url(../../media/images/zurb.svg);
            background-color: #fff;     
        }
        &.net {
            background-image: url(../../media/images/net.svg);
            background-color: #fff;     
        }
        &.ember {
            background-image: url(../../media/images/ember.svg);
            background-color: #fff;     
        }
        &.backbone {
            background-image: url(../../media/images/backbone.svg);
            background-color: #fff;     
        }
        &.materialize {
            background-image: url(../../media/images/materialize.svg);
            background-color: #fff;     
        }
        &.phonegap {
            background-image: url(../../media/images/phonegap.svg);
            background-color: #fff;     
        }
        &.aurelia {
            background-image: url(../../media/images/aurelia.svg);
            background-color: #fff;     
        }
        &.aspnet {
            background-image: url(../../media/images/aspnet.svg);
            background-color: #fff;     
        }
        &.babylon {
            background-image: url(../../media/images/babylon.svg);
            background-color: #fff;     
        }
        &.mithril {
            background-image: url(../../media/images/mithril.svg);
            background-color: #fff;     
        }
        &.polymer {
            background-image: url(../../media/images/polymer.svg);
            background-color: #fff;     
        }
        &.oracle {
            background-image: url(../../media/images/oracle.svg);
            background-color: #fff;     
        }
        &.redis {
            background-image: url(../../media/images/redis.svg);
            background-color: #fff;     
        }
        &.amazon {
            background-image: url(../../media/images/amazon.svg);
            background-color: #fff;     
        }
        &.google {
            background-image: url(../../media/images/google.svg);
            background-color: #fff;     
        }
        &.stack {
            background-image: url(../../media/images/stack.svg);
            background-color: #fff;     
        }
        &.slack {
            background-image: url(../../media/images/slack.svg);
            background-color: #fff;     
        }
        &.mdn {
            background-image: url(../../media/images/mdn.svg);
            background-color: #fff;     
        }
        &.xml {
            background-image: url(../../media/images/xml.svg);
            background-color: #fff;     
        }
        &.medium {
            background-image: url(../../media/images/medium.svg);
            background-color: #000;     
        }
        &.smashing {
            background-image: url(../../media/images/smashing.svg);
            background-color: #fff;     
        }
        &.udemy {
            background-image: url(../../media/images/udemy.svg);
            background-color: #fff;     
        }
        &.zepto {
            background-image: url(../../media/images/zepto.png);
            background-color: #fff;     
        }
        &.apache {
            background-image: url(../../media/images/apache.svg);
            background-color: #fff;     
        }
        &.nginx {
            background-image: url(../../media/images/nginx.svg);
            background-color: #fff;     
        }
        &.redux {
            background-image: url(../../media/images/redux.svg);
            background-color: #fff;     
        }
        &.jest {
            background-image: url(../../media/images/jest.svg);
            background-color: #fff;     
        }
        &.symfony {
            background-image: url(../../media/images/symfony.svg);
            background-color: #fff;     
        }
        &.cake {
            background-image: url(../../media/images/cake.svg);
            background-color: rgb(211, 60, 68);     
        }
        &.spring {
            background-image: url(../../media/images/spring.svg);
            background-color: #fff;     
        }
        &.youtube {
            background-image: url(../../media/images/youtube.svg);
            background-color: #fff;     
        }
        &.flutter {
            background-image: url(../../media/images/flutter.svg);
            background-color: #fff;     
        }
        &.xamarin {
            background-image: url(../../media/images/xamarin.svg);
            background-color: #fff;     
        }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        // &. {
        //     background-image: url(../../media/images/.svg);
        //     background-color: #fff;     
        // }
        
    }
}